.customers {
    padding: 94px 0;
    
    .compani {
        justify-content: center;
        display: flex;
        margin: -15px;
        padding: 0;

        &__item {
          margin: 15px;
        }
        
        &__link {
          color: var(--border);
          width: 170px;
          height: 92px;
          justify-content: center;
          align-items: center;
          display: flex;
          border: 1px solid var(--border);
          border-radius: 4px;
          transition: boborder-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        &__link:hover,
        &__link:focus {
          border-color: solid var(--accent-color);
          color: var(--accent-color);
        }
        
        &__icon {
          fill: currentColor;
          width: 106px;
          height: 60px;
        }
    }
      
}
  
