.section-products {
    margin: 0;
    padding-bottom: 94px;

    & img,
    & img {
      width: 370px;
    }
    
    .products {
      display: flex;
      margin: -15px;
      padding: 0;

      &__images {
        position: relative;
        margin: 15px;
      }
      
      &__caption {
        position: absolute;
        width: 370px;
        height: 70px;
        justify-content: center;
        align-items: center;
        display: flex;
        top: 76%;
        color: var(--gray);
        content: "";
        background: rgba(47, 48, 58, 0.8);
      }
    }

}
  
