.section-products {
  margin: 0;
  padding-bottom: 94px;

   & img {
    width: 370px;
  }

  .products {
    justify-content: space-between;
    display: flex;
    margin: 0;
    padding: 0;

    &__images {
      position: relative;
    }

    &__caption {
      position: absolute;
      width: 370px;
      height: 70px;
      justify-content: center;
      align-items: center;
      display: flex;
      top: 76%;
      color: $gray;
      content: "";
      background: rgba(47, 48, 58, 0.8);
    }
  }
}
