:root {
    --primari-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primari-write-color: #f5f5f5;
    --additional-background-color: #f5f4fa;
    --white: #ffffff;
    --services: #2f303a;
    --black: #000000;
    --gray: #eeeeee;
    --grays: rgba(255, 255, 255, 0.6);
    --border: #afb1b8;
}
  
$accent: #6D87A7;
  /* index */
  
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  font-family: "Raleway", cursive;
  text-decoration: none;
  color: var(--black);

    &__link {
        color: var(--accent-color);
    }
}

.connection {
  display: flex;
  padding: 0;
  margin: -15px;
  margin-left: auto;
  
  &--inverse {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  &__item  {
    margin: 15px;
      .connection__link {
        align-items: center;
        display: flex;
        padding: 32px 0;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-decoration: none;
        fill: var(--primari-text-color);
        color: var(--primari-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
          &:hover,
          &:focus {
            fill: var(--accent-color);
            color: var(--accent-color);
          }
      }
      .connection__link--inverse {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0px;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        color: var(--grays);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          color: var(--accent-color);
        }        
      }

      .connection__icon {
        height: 12px;
        width: 16px;
        margin-right: 10px;
      }

      &--inverse {
        padding: 0;
        margin: 0;
        margin-bottom: 9px;
      }
    
      &--inverse:last-child {
        margin-bottom: 0;
      }
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.messenger {
  justify-content: center;
  display: flex;
  margin: -5px;
  padding: 0 30px 30px 30px;

  &--inverse {
    padding: 0;
  }

  &__item {
    margin: 5px;
  }
  
  &__link {
    height: 44px;
    width: 44px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    color: var(--border);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
      &:hover,
      &:focus {
        background-color: #2196f3;
        color: var(--whiter);
        fill: var(--white);
      }
      
      &:hover .messenger__icon,
      &:focus .messenger-__icon {
        fill: var(--white);
      } 
      
      &--inverse {
        padding: 0;
        background-color: rgba(255, 255, 255, 0.1);
      }    
  }
  
  &__icon {
    height: 20px;
    width: 20px;
    fill: currentColor;
  
    &--inverse {
      fill: var(--white);
    }
  }  
}


